<form>
  <mat-form-field appearance="outline">
    <mat-label>Pkg Name (e.g. foo&#64;1.2.0 or foo)</mat-label>
    <input matInput
           name="package_name"
           [(ngModel)]="packageName">
  </mat-form-field>
  <div class="file-upload">
    <input type="file"
           #fileUpload
           hidden
           (change)="onFileSelected($event)"
           accept=".tgz">
    <p>or upload a tgz
      <button mat-mini-fab
              type="button"
              color="primary"
              class="upload-btn"
              (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </p>
    @if (file) {
    <p>{{ file.name }}</p>
    }
  </div>
  <div class="form-buttons">
    <button mat-raised-button
            color="accent"
            (click)="analyze()"
            [disabled]="!packageName && !file">
      <mat-icon>search</mat-icon>
      Analyze
    </button>
    <button mat-raised-button
            (click)="file = undefined"
            color="accent"
            type="reset">
      <mat-icon>backspace</mat-icon>
      Reset
    </button>
  </div>
</form>
@if (loading()) {
<mat-spinner diameter="40"></mat-spinner>
}

@if (result()) {
<div class="result">
  <mat-icon color="success">check_circle</mat-icon>
  <p>{{ result()?.message }}</p>
  <p>Raw size: <strong>{{ result()?.rawSize}}KB</strong></p>
  <p>Gzipped: <strong>{{ result()?.gzippedSize}}KB</strong></p>
</div>
}

@if (pkgJson()) {
<pre class="json-box">{{ pkgJson() | json }}</pre>
}

@if (publintIssues()?.length) {
<ul>
  @for (issue of publintIssues(); track issue) {
  <li>
    <strong>{{ issue.code }}</strong>: {{ issue.message }}
    <br>
    <small>Path: {{ issue.path.join(' > ') }}</small>
  </li>
  }
</ul>
}